@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Shadows+Into+Light&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Kalam', cursive;
    --fonte3: 'Shadows Into Light', cursive;
}
*{
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgrey;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: antiquewhite;
    text-align: center;
    
    
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: antiquewhite;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10%;
    padding: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgba(11, 11, 31, 0.763);
    color: antiquewhite;
}

section.imagem > p {
    width: 400px;
    background-color: rgba(18, 14, 14, 0.614);
}


footer {
    background-color: black;
    color: antiquewhite;
    text-align: center;
    padding: 10px;
}

