@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgrey;
}

header {
    background-color: black;
    color: antiquewhite;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: antiquewhite;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10%;
    padding: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgba(11, 11, 31, 0.763);
    color: antiquewhite;
}

section.imagem > p {
    width: 400px;
    background-color: rgba(18, 14, 14, 0.614);
}


footer {
    background-color: black;
    color: antiquewhite;
    text-align: center;
    padding: 10px;
}

